body {
    /* background-color: #51a3a3; */
    background: url("../images/bg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

body h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 100px;
    text-align: center;
}


#logo_image {
    height: 200px;
}

.jumbotron {
    height: 500px;
}



#stop_header {
    background-color: #51a3a3;
    text-align: center;
}

#point_A,
#point_B,
#drop_down_loc,
#drop_down_plc {
    color: #51a3a3;
    font-weight: bold;
}

.add_btn {
    color: #fff;
    background-color: #51a3a3;
    border-color: black;
    padding: 0.5rem 0.5rem;
    font-size: .5rem;
    line-height: .1;
    border-radius: 0.5rem;
}

card{

}

#list_display {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

#direction_display {
    background-color: #fff;
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

ul li:hover {
    background-color: #51a3a3;
}

#close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1%;
    padding: 12px 16px;
    /* transform: translate(0%, -50%);  */
    /* background-color: red; */
}

#place_img{
    width: 125px;
    height: 125px;
}
